# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# macOS system files
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDEs/editors
.vscode/
.idea/

# Python tooling caches
.mypy_cache/
.pytest_cache/
